<div class="container">
    <div class="colum1">
        <div class="linea"><p>Cabildo 1 CABA</p></div>
        <div class="linea"><p class="icono1"><i class="fab fa-whatsapp"></i>Whatapp +54 911 4777 0001</p></div>
        <div class="linea"><p>Servicio al cliente</p></div>
        <div class="linea"><p>Contáctenos</p></div>
    </div>
    <div class="colum2">
        <div class="linea"><p>Políticas de garantía</p></div>
        <div class="linea"><p class="icono2"><i class="fas fa-phone"></i>(54 11)43454343 </p></div>
        <div class="linea"><p>Condiciones de uso</p></div>
        <div class="linea"><p>¿Cómo comprar?</p></div>
    </div>
    <div class="colum3">
        <div class="linea"><p>Políticas de privacidad</p></div>
        <div class="linea"><p>Preguntas frecuentes</p></div>
        <div class="linea"><p class="icono3"><i class="fab fa-facebook"></i> Facebook</p></div>
        <div class="linea"><p class="icono4"><i class="fab fa-youtube"></i>Youtube</p></div>
    </div>
</div>