<div class="mx-auto">
    <div class="row mt-3">
        <div class="col-4 text-center">
            <div class=""><p>Cabildo 1 CABA</p></div>
            <div class=""><p class="text-success"><i class="fab fa-whatsapp"></i>Whatapp +54 911 4777 0001</p></div>
            <div class=""><p>Servicio al cliente</p></div>
            <div class=""><p>Contáctenos</p></div>
        </div>
        <div class="col-4 text-center">
            <div class=""><p>Políticas de garantía</p></div>
            <div class=""><p class=""><i class="fas fa-phone"></i>(54 11)43454343 </p></div>
            <div class=""><p>Condiciones de uso</p></div>
            <div class=""><p>¿Cómo comprar?</p></div>
        </div>
        <div class="col-4 text-center">
            <div class=""><p class="">Políticas de privacidad</p></div>
            <div class=""><p class="">Preguntas frecuentes</p></div>
            <div class=""><p class="text-primary"><i class="fab fa-facebook"></i> Facebook</p></div>
            <div class=""><p class="text-danger"><i class="fab fa-youtube"></i>Youtube</p></div>
        </div>
    </div>
</div>