

<div class="bottomBar">
    <ul>
        <li><a href='/user'>Lista de usuarios</a></li>
        <li><a href='/products'>Lista de productos</a></li>
        <li><a href='/user/profile'>Perfil</a></li>
        <li><a href='/user/logout'>Logout</a></li>
    </ul>    
</div>
