<div class="main-header">
    <div class="bloque-superior"></div>
    <div class="caja1">
        <span class="contactoBar">
            <div class="cajita1">
                <div><a>Venta Telefonica:<i class="fas fa-phone">Tel:(011)43454343</i></a></div>
                <div><a><i id="uno" class="fab fa-whatsapp"></i>(011)43454343</a></div>
            </div>
        </span>
        <div class="navBar">
            <div class="hamburguer-button">
                <a href="#">
                    <i class="fas fa-bars"></i>
                </a> 
            </div>
            <div class="columnas">
                <div class="columna1"><i id="cuatro" class="fab fa-facebook-square"></i></div>
                <div class="columna2"><i class="fab fa-instagram"></i></div>
                <div ><img src="/images/amd.png" class="logosHeader" width="100%"></div>
                <div ><img src="/images/asrock.png" class="logosHeader" width="100%"></div>
                <div ><img src="/images/logopag.jpeg" class="logocentral" width="100%"></div>
                <div ><img src="/images/intel.png" class="logosHeader" width="100%"></div>
                <div ><img src="/images/nvidia.png" class="logosHeader" width="100%"></div>
                <div class="buscar"><i class="fas fa-search"></i></div>
                <div class="carrito"><i class="fas fa-shopping-cart"></i></div>
                <div class="corazon"><i class="fas fa-heart"></i></div>
            </div>
        </div>
    </div>
    <div class="caja2">               
        <ul class="mainCaja2">
            <a href='#'>Armá tu pc</a>
            <a href='#'>PC armada</a>
            <a href='#'>Hardware</a>
            <a href='#'>Periféricos</a>
        </ul> 
        
    </div>
</div>