<div class="main-header">
    <div class="caja1">
        <span class="contactoBar">
            <div class="cajita1">
                <div><a>Venta Telefonica:<i class="fas fa-phone">Tel:(011)43454343</i></a></div>
                <div><a><i id="uno" class="fab fa-whatsapp"></i>(011)43454343</a></div>
            </div>
        </span>
        <div class="navBar">
            <!-- <div class="hamburguer-button">
                <i class="fas fa-bars"></i>
            </div> -->
            <div class="iHome">
                <a href="/" ><i class="fas fa-home"></i></a>
            </div>

            <div class="logocentral">
                <img src="/images/logo principal.png" width="100%">
            </div>

                <div class="informacion">
                    <!-- <div class="topBar">
                            <div class="searchBar">
                                <div class="iconos"><i class="fas fa-shopping-cart"></i></div>
                                <div class="iconos"><i class="fas fa-heart"></i></div>
                            </div>
                            <div class="redes">
                                <i class="fab fa-facebook-square"></i>
                                <i class="fab fa-instagram"></i>
                            </div>

                    </div> -->
                    <div class="bottomBar">
                        <ul>
                                <% if (locals.logged) { %>
                                   <%- include('nav-auth') %>
                                <% } else {%>
                                   <%- include('nav-guest') %>
                               <% }%>
                        </ul>
                    </div>
                </div>
        </div>
    </div>
    <div class="caja2">
        <section class="clasificacion">
            <ul class="mainCaja2">
                <p class="titulos-home">¿Que estas buscando?</p>
                <li><a href='/products/listOfProducts'><p class="VerTodo">Ver todo</p></a></li>
            </ul>
            <div class="contenedor-clasificacion">
                <div class="columna-button">
                    <a href="#" class="button-clasificacion">
                        <div class="button-clasificacion__contenedor-img">
                            <img src="/images/Disco duro.png" alt="icono-disco-duro" width="100%" class="button-clasificacion__img">
                        </div>
                        <p class="button-clasificacion__descripcion">Discos mecanicos</p>
                    </a>
                    <a href="#" class="button-clasificacion">
                        <div class="button-clasificacion__contenedor-img">
                            <img src="/images/ssd.png" alt="icono-disco-duro" width="100%" class="button-clasificacion__img">
                        </div>
                        <p class="button-clasificacion__descripcion">SSD</p>
                    </a>
                </div>
                <div class="columna-button">
                    <a href="#" class="button-clasificacion">
                        <div class="button-clasificacion__contenedor-img">
                            <img src="/images/procesador.png" alt="icono-procesador" width="100%" class="button-clasificacion__img">
                        </div>
                        <p class="button-clasificacion__descripcion">Procesadores</p>
                    </a>
                    <a href="#" class="button-clasificacion">
                        <div class="button-clasificacion__contenedor-img">
                            <img src="/images/placa video.png" alt="icono-video" width="100%" class="button-clasificacion__img">
                        </div>
                        <p class="button-clasificacion__descripcion">Placas de video</p>
                    </a>
                </div>
                <div class="columna-button">
                    <a href="#" class="button-clasificacion">
                        <div class="button-clasificacion__contenedor-img">
                            <img src="/images/motherboard.png" alt="icono-mother" width="100%" class="button-clasificacion__img">
                        </div>
                        <p class="button-clasificacion__descripcion">Motherboards</p>
                    </a>
                    <a href="#" class="button-clasificacion">
                        <div class="button-clasificacion__contenedor-img">
                            <img src="/images/memoria ram.png" alt="icono-ram" width="100%" class="button-clasificacion__img">
                        </div>
                        <p class="button-clasificacion__descripcion">Memorias ram</p>
                    </a>
                </div>
                <div class="columna-button">
                    <a href="#" class="button-clasificacion">
                        <div class="button-clasificacion__contenedor-img">
                            <img src="/images/monitor.png" alt="icono-monitor" width="100%" class="button-clasificacion__img">
                        </div>
                        <p class="button-clasificacion__descripcion">Monitores</p>
                    </a>
                    <a href="#" class="button-clasificacion">
                        <div class="button-clasificacion__contenedor-img">
                            <img src="/images/periferico.png" alt="icono-periferico" width="100%" class="button-clasificacion__img">
                        </div>
                        <p class="button-clasificacion__descripcion">Preifericos</p>
                    </a>
                </div>

            </div>
        </section>
    </div>
    <div class="searchMenu">
        <div class="iconoSearch">
            <input type="search" placeholder="Busqueda " required>
            <div class="btn"><i class="fas fa-search icon"></i></div>
        </div>
    </div>

    <!-- <div class="marcas">
        <div ><img src="/images/amd.png" class="logosHeader" width="100%"></div>
        <div ><img src="/images/asrock.png" class="logosHeader" width="100%"></div>
        <div ><h2>Nuestras marcas</h2></div>
        <div ><img src="/images/intel.png" class="logosHeader" width="100%"></div>
        <div ><img src="/images/nvidia.png" class="logosHeader" width="100%"></div>
    </div> -->
</div>