<div class="main-header">
    <div class="caja1">
        <span class="contactoBar">
            <div class="cajita1">
                <div><a>Venta Telefonica:<i class="fas fa-phone">Tel:(011)43454343</i></a></div>
                <div><a><i id="uno" class="fab fa-whatsapp"></i>(011)43454343</a></div>
            </div>
        </span>
        <div class="navBar">
            <div class="hamburguer-button">
                <i class="fas fa-bars"></i>
            </div>
            <div class="iHome">
                <a href="/" ><i class="fas fa-home"></i></a>
            </div>

            <div class="logocentral">
                <img src="/images/logo principal.png" width="100%">
            </div>

                <div class="informacion">
                    <div class="topBar">
                            <div class="searchBar">
                                <div class="iconos"><i class="fas fa-search"></i></div>
                                <div class="iconos"><i class="fas fa-shopping-cart"></i></div>
                                <div class="iconos"><i class="fas fa-heart"></i></div>
                            </div>
                            <div class="redes">
                                <i class="fab fa-facebook-square"></i>
                                <i class="fab fa-instagram"></i>
                            </div>
                    </div>
                    <div class="bottomBar">
                        <ul>
                            <li><a href='/user/login'>Ingresar</a></li>
                            <li><a href='/user/register'>Registro</a></li>
                        </ul>    
                    </div>
                </div>
        </div>
    </div>
    <div class="caja2">               
        <ul class="mainCaja2">
            <li><a href='#'><p>Armá tu pc</p></a></li>
            <li><a href='#'><p>PC armada</p></a></li>
            <li><a href='#'><p>Hardware</p></a></li>
            <li><a href='#'><p>Periféricos</p></a></li>
            <li><a href='#'><p>Ver todo</p></a></li>
        </ul> 
    </div>
    <div class="marcas">
        <div ><img src="/images/amd.png" class="logosHeader" width="100%"></div>
        <div ><img src="/images/asrock.png" class="logosHeader" width="100%"></div>
        <div ><h2>Nuestras marcas</h2></div>
        <div ><img src="/images/intel.png" class="logosHeader" width="100%"></div>
        <div ><img src="/images/nvidia.png" class="logosHeader" width="100%"></div>
    </div>
</div>