<div class="d-flex flex-wrap justify-content-between bg-black">
    
    <a href="/" class="col-2 d-flex justify-content-left align-items-center text-primary text-decoration-none">
        <i class="fas fa-home fa-2x mx-auto"></i>
    </a>
    
    <ul class="nav d-flex justify-content-around bg-black align-items-center">
        <li class="nav-item px-4">
            <img src="/images/nav_amd.png" alt="">
        </li>
        <li class="nav-item px-4">
            <img src="/images/nav_corsair.png" alt="">
        </li>
        <li class="nav-item px-4">
            <img src="/images/nav_geforce.png" alt="">
        </li>
        <li class="nav-item px-4">
            <img src="/images/nav_logitech.png" alt="">
        </li>
        
    </ul>

    <% if (locals.logged) { %>
        <%- include('nav-auth') %>
    <% } else {%>
        <%- include('nav-guest') %>
    <% }%>
    
</div>

<div class="py-3 mb-4">
    
    <div class="bg-light d-flex align-items-center justify-content-around">
        
        <img src="/images/logo principal.png" class="img-fluid col-4">
        
        <form class="col-5">
            <input type="search" class="form-control w-80" placeholder="Search ..." aria-label="Search">
        </form>

        <div class="col-3 d-flex">
            
            <i class="fab fa-whatsapp fa-2x mx-2"></i>
            <i class="fab fa-twitter fa-2x mx-2"></i>
            <i class="fab fa-facebook fa-2x mx-2"></i>
            
            <div class="position-relative">
                
                <a href="#user" type="button" class="" data-bs-toggle="collapse"
                    aria-expanded="false" aria-controls="#user">
                    <i class="fas fa-user fa-2x mx-2 text-dark"></i>
                </a>

                <div class="nav position-absolute collapse mt-3" id="user">
					<li class="nav-item">
                        <button type="button" class="mb-2 btn btn-info"><a class="nav-link link-dark px-2 active text-primary mask" href='/user/login'>Ingresar</a></button>
                    </li>
                    <li class="nav-item">
                        <buttontype type="button" class="btn btn-info"><a class="nav-link link-dark px-2 active text-primary" href='/user/register'>Registro</a></buttontype>
                    </li>
				</div>

            </div>
            <i class="fas fa-shopping-cart fa-2x mx-2"></i>
        </div>

    </div>  

</div>