<ul>
    <li><a href='/user/login'>Ingresar</a></li>
    <li><a href='/user/register'>Registro</a></li>
    <li><a href='/user'>Lista de usuarios</a></li>
    <li><a href='/products'>Lista de productos</a></li>
</ul>