<ul class="nav"> 

    <li class="nav-item">
        <a class="nav-link link-dark px-2 active text-primary" href='/user'>Lista de usuarios</a>
    </li>
    <li class="nav-item">
        <a class="nav-link link-dark px-2 active text-primary" href='/products'>Lista de productos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link link-dark px-2 disabled text-primary" tabindex="-1" aria-disabled="true" href='/products'>Proximamente</a>
    </li>
    
</ul>