<ul>
    <li><a href='/user/profile'><%=locals.logged.name%> <%=locals.logged.last_name%></a>   <img src="<%= locals.logged.image %>" width="35px" style="border-radius: 100%">  
    </li>
    
    <li><a href='/user/logout'>Salir</a>
   
    <li><a href='/products'>Lista de productos</a></li>
</ul>
