<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/CSS/IndexStyle.css">
    <link rel="stylesheet" href="/CSS/headerFooter.css">
    <link rel="stylesheet" href="/CSS/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <header>

    </header>
    <main>
        <!--CARRUSEL PRODUCTOS-->
        <section class="carrusel-productos">
            <article class="carrusel-productos__producto">
                <div class="carrusel-productos__imagen-carrusel">
                    <img src="/images/shop-2080-ti-1070@2x.jpg" alt="imagen-carrusel" class="carrusel-productos__imagen" width="100%">
                </div>
                <a href="#" class="boton-carrusel boton-carrusel--RH">
                    <i class="fas fa-angle-right"></i>
                </a>
                <a href="#"  class="boton-carrusel boton-carrusel--LH">
                    <i class="fas fa-angle-left"></i>
                </a>
            </article>
        </section>
        <!---OFERTAS--->
        <section class="ofertas">
            <p class="ofertas__titulo">Ofertas</p>
            <div class="contenedor-productos">
                <article class="producto producto--oferta">
                    <div class="producto__contenedor-imagen">
                        <img src="/images/38094.jpg" alt="imagen-oferta" class="producto__imagen" width="100%">
                    </div>
                        <p class="producto__descripcion">
                            Intel core I7 9700k
                        </p>
                        <p class="producto__precio">
                            $39.999
                        </p>
                        <a href="#" class="button">
                            <div class="button__contenedor-imagen">
                                <i class="fas fa-shopping-cart"></i>
                            </div>
                            <span class="button__body">Agregar</span>
                        </a>
                </article>
                <article class="producto producto--oferta">
                    <div class="producto__contenedor-imagen">
                        <img src="/images/micro-amd-ryzen-5-5600x-0.jpg" alt="imagen-oferta" class="producto__imagen" width="100%">
                    </div>
                        <p class="producto__descripcion">
                            amd ryzen 5 5600x
                        </p>
                        <p class="producto__precio">
                            $42.795
                        </p>
                        <a href="#" class="button">
                            <div class="button__contenedor-imagen">
                                <i class="fas fa-shopping-cart"></i>
                            </div>
                            <span class="button__body">Agregar</span>
                        </a>
                </article>
                <article class="producto producto--oferta">
                    <div class="producto__contenedor-imagen">
                        <img src="/images/RTX 2080ti.jpg" alt="imagen-oferta" class="producto__imagen" width="100%">
                    </div>
                        <p class="producto__descripcion">
                            RTX 2080TI 11gb VRAM
                        </p>
                        <p class="producto__precio">
                            $406.000
                        </p>
                        <a href="#" class="button">
                            <div class="button__contenedor-imagen">
                                <i class="fas fa-shopping-cart"></i>
                            </div>
                            <span class="button__body">Agregar</span>
                        </a>
                </article>
            </div>
        </section>
        <!--SECCION CONTACTO-->
        <section class="contacto">
            <p class="contacto__titulo"> Contacto </p>
            <div class="contenedor-contacto">
                <article class="forma-contacto">
                    <div class="forma-contacto__contenedor-imagen">
                        <img src="/images/googlemaps.jpg" alt="" class="forma-contacto__imagen" width="100%">
                    </div>
                    <p class="forma-contacto__descripcion">
                        Av. Cazon 2530 Tigre
                    </p>
                </article>
                <article class="forma-contacto">
                    <div class="forma-contacto__contenedor-imagen">
                        <img src="/images/PC-Hora.jpg" alt="horarios" class="forma-contacto__imagen" width="100%">
                    </div>
                    <p class="forma-contacto__descripcion">
                        Horarios de atencion: 8hs a 19hs
                    </p>
                </article>
                <article class="forma-contacto">
                    <div class="forma-contacto__contenedor-imagen">
                        <img src="/images/servicio-cliente-nuevos-canales.jpg" alt="horarios" class="forma-contacto__imagen" width="100%">
                    </div>
                    <div class="forma-contacto__descripcion">
                        <p class="forma-contacto__email">E-mail: hardcomerce@gmail.com</p> 
                        <p class="forma-contacto__cel">Cel/tel: 15374987365</p>
                    </div>
                </article>
             </div>
        </section>
        <!--SECCION DESTACADOS-->
        <section class="destacados">
            <p class="destacados__titulo"> Destacados </p>
            <div class="contenedor-productos">
                <article class="producto producto--destacados">
                    <div class="producto__contenedor-imagen">
                        <img src="/images/38094.jpg" alt="imagen-oferta" class="producto__imagen" width="100%">
                    </div>
                        <p class="producto__descripcion">
                            Intel core I7 9700k
                        </p>
                        <p class="producto__precio">
                            $39.999
                        </p>
                        <a href="#" class="button">
                            <div class="button__contenedor-imagen">
                                <i class="fas fa-shopping-cart"></i>
                            </div>
                            <span class="button__body">Agregar</span>
                        </a>
                </article>
                <article class="producto producto--destacados">
                    <div class="producto__contenedor-imagen">
                        <img src="/images/38094.jpg" alt="imagen-oferta" class="producto__imagen" width="100%">
                    </div>
                        <p class="producto__descripcion">
                            Intel core I7 9700k
                        </p>
                        <p class="producto__precio">
                            $39.999
                        </p>
                        <a href="#" class="button">
                            <div class="button__contenedor-imagen">
                                <i class="fas fa-shopping-cart"></i>
                            </div>
                            <span class="button__body">Agregar</span>
                        </a>
                </article>
                <article class="producto producto--destacados">
                    <div class="producto__contenedor-imagen">
                        <img src="/images/38094.jpg" alt="imagen-oferta" class="producto__imagen" width="100%">
                    </div>
                        <p class="producto__descripcion">
                            Intel core I7 9700k
                        </p>
                        <p class="producto__precio">
                            $39.999
                        </p>
                        <a href="#" class="button">
                            <div class="button__contenedor-imagen">
                                <i class="fas fa-shopping-cart"></i>
                            </div>
                            <span class="button__body">Agregar</span>
                        </a>
                </article>
                <article class="producto producto--destacados">
                    <div class="producto__contenedor-imagen">
                        <img src="/images/38094.jpg" alt="imagen-oferta" class="producto__imagen" width="100%">
                    </div>
                        <p class="producto__descripcion">
                            Intel core I7 9700k
                        </p>
                        <p class="producto__precio">
                            $39.999
                        </p>
                        <a href="#" class="button">
                            <div class="button__contenedor-imagen">
                                <i class="fas fa-shopping-cart"></i>
                            </div>
                            <span class="button__body">Agregar</span>
                        </a>
                </article>
                <article class="producto producto--destacados">
                    <div class="producto__contenedor-imagen">
                        <img src="/images/38094.jpg" alt="imagen-oferta" class="producto__imagen" width="100%">
                    </div>
                        <p class="producto__descripcion">
                            Intel core I7 9700k
                        </p>
                        <p class="producto__precio">
                            $39.999
                        </p>
                        <a href="#" class="button">
                            <div class="button__contenedor-imagen">
                                <i class="fas fa-shopping-cart"></i>
                            </div>
                            <span class="button__body">Agregar</span>
                        </a>
                </article>
                <a href="#" class="boton-carrusel boton-carrusel--RH">
                    <i class="fas fa-angle-right"></i>
                </a>
                <a href="#"  class="boton-carrusel boton-carrusel--LH">
                    <i class="fas fa-angle-left"></i>
                </a>
            </div>
        </section>
        <!--SECCION CLASIFICACION-->
        <section class="clasificacion">

        </section>


    </main>
    <footer>

    </footer>
</body>
</html>