<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Producto</title>
    <link rel="stylesheet" href="/CSS/productDetail.css">
    <link rel="stylesheet" href="/CSS/headerFooter.css">
    <link rel="stylesheet" href="/CSS/normalize.css">
</head>
<body>
    <header>
        <div class="main-header">
            <div class="bloque-superior"></div>
            <div class="caja1">
                <section class="logo"><img src="/images/LOGO.jpg" class="logo__imagen" width="100%"></section>
                <section class="menu">
                    <div class="columna1">
                            <div class="top1">
                                <div class="link"><a href='#'>AMD</a></div>
                                <div class="link"><a href='#'>Intel</a></div>
                                <div class="link"><a href='#'>nVidia</a></div>
                                <div class="link"><a href='#'>AsRock</a></div>
                            </div>
                            <div class="bottom1">
                                <form action="boton">
                                    <input type="text" /><button>Buscar</button>
                                </form> 
                            </div>
                    </div>    
                    <div class="columna2">
                            <div class="top2">
                                <div><a><i class="fas fa-phone"></i>(011)43454343</a></div>
                            </div>

                            <div class="bottom2">
                                <div class="caja-items">Nuestras redes <i id="uno" class="fab fa-whatsapp"></i> <i id="dos" class="fab fa-twitter"></i> <i class="fab fa-instagram"></i> <i id="cuatro" class="fab fa-facebook-square"></i></div>
                            </div>       
                    </div>
                    <div class="columna3">
                        <div class="left">
                            <div class="top3">
                                <div><a><i class="fas fa-envelope-square"></i>ventas@grupo11.com</a></div>
                            </div>
                            <div class="bottom3">
                                <div class="link"><a href='/login'>Ingresar</a></div>
                                <div class="link"><a href='/register'>Registrarse</a></div>
                            </div>
                        </div>

                        <div class="right">
                            <div class="link"><a href='#'>Contacto</a></div>
                            <div class="carrito"><i class="fas fa-shopping-cart"></i></div>                               
                        </div>
                    </div>
                </section>
            </div>
            <div class="caja2">               
                <ul class="mainCaja2">
                    <a href='#'>Armá tu pc</a>
                    <a href='#'>PC armada</a>
                    <a href='#'>Hardware</a>
                    <a href='#'>Periféricos</a>
                    <a href='#'>Ver todo</a>
                </ul> 
                <div class="hamburguer-button">
                    <a href="#">
                        <i class="fas fa-bars"></i>
                    </a> 
                </div>
            </div>
        </div>
    </header>
    <main class="mainMain">
        <div class="mainMain_containerTop">
            <div class="mainMain_containerTop_left">
                <div class="mainMain_containerTop_left_top">
                    <div class="tituloDelProducto_imagen"><h1 >Titulo del producto</h1></div> <!--titulo pegado a la imagen-->
                    <img src="/images/38094.jpg" width=100% alt="master"> <!--Imagen principal-->    
                </div>
                <div class="mainMain_containerTop_left_bottom">
                    <div class="mainMain_containerTop_left_bottom_cajita">
                        <div class="imagen"><img src="/images/38094.jpg" alt="master"></div>
                    </div>
                    <div class="mainMain_containerTop_left_bottom_cajita">
                        <div class="imagen"><img src="/images/38094.jpg" alt="master"></div>
                    </div>
                    <div class="mainMain_containerTop_left_bottom_cajita">
                        <div class="imagen"><img src="/images/38094.jpg" alt="master"></div>
                    </div>
                    <div class="mainMain_containerTop_left_bottom_cajita">
                        <div class="imagen"><img src="/images/38094.jpg" alt="master"></div>
                    </div>
                    <div class="mainMain_containerTop_left_bottom_cajita">
                        <div class="imagen"><img src="/images/38094.jpg" alt="master"></div>
                    </div>
                </div>
            </div>
            <div class="mainMain_container_right">
                <div class="mainMain_container_right_top">
                    <h1 class="tituloDelProducto">Titulo del producto</h1>
                    <p>Codigo producto</p>
                    <h2>Precio: $xxxxxx</h2>
                    <div><a href='#'>Formas de pago</a></div>
                    <p>12 cuotas sin interes de $xxxx con las siguientes tarjetas</p>
                    <div class="formasDePago"><img src="/images/formasDePago.png" alt="pago" width="100%"></div>
                    <h3>Descripción rapida:</h3>
                    <div><a>Procesador Intel Core i3</a></div>
                    <div><a>Meroria ram 4GB</a></div>
                    <div><a>Pantalla LED de 14"</a></div>
                    <div><a>Resolucion de 1366*768 px</a></div>
                    <div><a>Es antireflejo</a></div>
                    <div><a>Placa de video intel UHD Graphics</a></div>
                    <div><a>Conexión wifi y bluetooh</a></div>
                </div>
                <div class="mainMain_container_right_bot">
                    <div class="mainMain_container_right_bot_columa1">
                        <div class="botones"><i class="fas fa-shopping-cart"></i>Agregar</div>
                        <div class="botones">Calcular envio</div>
                    </div>
                    <div class="mainMain_container_right_bot_columa2">
                        <div class="botones">Comprar ahora</div>
                        <div class="botones">Stock</div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="hamburguer-button">
            <a href="#">
                <i class="fas fa-bars"></i>
            </a> 
        </div>
        <div class="mainMain_containerBottom">
            <h2>Descripción tecnica del producto</h2>
            <div class="DescripciónDelProducto">
                <p>La notebook HP 14-DQ1037WM es una solución tanto para trabajar y estudiar como para entretenerte. Al ser portátil, el escritorio dejará de 
                    ser tu único espacio de uso para abrirte las puertas a otros ambientes ya sea en tu casa o en la oficina.
                </p>
                <br>
                <p>
                    Pantalla con gran impacto visual
                    Su pantalla LED de 14" y 1366x768 px de resolución te brindará colores más vivos y definidos. Tus películas y series preferidas cobrarán 
                    vida, ya que ganarán calidad y definición en cada detalle.
                </p>
                <br>
                <p>
                    Eficiencia a tu alcance
                    Su procesador Intel Core i3 de 2 núcleos, está pensado para aquellas personas generadoras y consumidoras de contenidos. En base a 
                    esto, permite el desempeño necesario para la edición de fotografías o videos en programas básicos.
                </p>
            </div>
        </div>
    </main>
    <footer class="main-footer">
        <div class="container">
            <div class="colum1">
                <div class="linea"><p>Cabildo 1 CABA</p></div>
                <div class="linea"><p class="icono1"><i class="fab fa-whatsapp"></i>Whatapp +54 911 4777 0001</p></div>
                <div class="linea"><p>Servicio al cliente</p></div>
                <div class="linea"><p>Contáctenos</p></div>
            </div>
            <div class="colum2">
                <div class="linea"><p>Políticas de garantía</p></div>
                <div class="linea"><p class="icono2"><i class="fas fa-phone"></i>(54 11)43454343 </p></div>
                <div class="linea"><p>Condiciones de uso</p></div>
                <div class="linea"><p>¿Cómo comprar?</p></div>
            </div>
            <div class="colum3">
                <div class="linea"><p>Políticas de privacidad</p></div>
                <div class="linea"><p>Preguntas frecuentes</p></div>
                <div class="linea"><p class="icono3"><i class="fab fa-facebook"></i> Facebook</p></div>
                <div class="linea"><p class="icono4"><i class="fab fa-youtube"></i>Youtube</p></div>
            </div>
        </div>
    </footer>
</body>
</html>