<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="/CSS/registerStyle.css">
    <link rel="stylesheet" href="/CSS/headerFooter.css">
    <link rel="stylesheet" href="/CSS/normalize.css">
</head>
<body>
    <header>
        <div class="main-header">
            <div class=caja1>
                <section class="logo"><img src="/images/logo.svg" class="logo"></section>
                <section class="menu">
                    <div class="columna1">
                        <div class="top">
                            <a href='#'>AMD</a>
                            <a href='#'>Intel</a>
                            <a href='#'>nVidia</a>
                            <a href='#'>AsRock</a>
                        </div>
                        <div class="bottom">
                            <form action="boton">
                                <input type="text" /><button>Buscar</button>
                            </form> 
                        </div>
                    </div>    
                    <div class="columna2">
                        <ul class="columna2">
                            <ul><a><i class="fas fa-phone"></i>(011)43454343</a></ul>
                            <ul class="caja-items">Nuestras redes <i class="fab fa-whatsapp"></i> <i class="fab fa-twitter"></i> <i class="fab fa-instagram"></i> <i class="fab fa-facebook-square"></i></ul>
                        </ul>
                    </div>
                    <div class="columna3">
                            <div class="left">
                                <ul class="top">
                                    <ul><a><i class="fas fa-envelope-square"></i>ventas@grupo11.com</a></ul>
                                </ul>
                                <ul class="bottom">
                                    <li><a href='#'>Ingresar</a></li>
                                    <li><a href='#'>Registrarse</a></li>  
                                </ul>
                            </div>
                            <div class="right">
                                    <ul><a>Contacto</a></ul>
                                    <ul class="carrito"><i class="fas fa-shopping-cart"></i></ul>                               
                            </div>
                    </div>
                </section>
            </div>
            <div class="caja2">
                    <ul class="mainCaja2">
                        <a href='#'>Armá tu pc</a>
                        <a href='#'>PC armada</a>
                        <a href='#'>Hardware</a>
                        <a href='#'>Periféricos</a>
                        <a href='#'>Ver todo</a>
                    </ul> 
            </div>
            <div class="hamburguer-button">
                <a href="#">
                    <i class="fas fa-bars"></i>
                </a> 
            </div>
        </div>
    </header>
</body>
</html>