*
{
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Lato' , italic;
}
/* ----------------------------------- FOOTER ----------------------------------- */
.container
{
    display:flex;
    flex-direction: column;
    margin:auto;
    border:solid 3px black;
    background-color:white;
    text-align: center;
    padding: 10px;
}
.linea
{
    margin-bottom:10px;
}
.colum1{
    margin:auto;
    margin-bottom:2px;
}
.colum2
{
    margin:auto;
}
.colum3
{
    margin:auto;
}
.icono1 i
{
    color:green;
}
.icono2 i
{
    color:green;
}
.icono3 i
{
    color:blue;
}
.icono4 i
{
    color:red;
}
/* ----------------------------------- FIN FOOTER ----------------------------------- */
/*--------------------------------FOOTER QUERIES--------------------------------*/
@media(min-width:481px)
{
    .container
    {
        flex-direction: row;
    }
}
/*--------------------------------FIN FOOTER QUERIES--------------------------------*/