*{
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Lato' , italic;
}
/* ----------------------------------- HEADER ----------------------------------- */
header
{
    background-color: rgba(0,0,0,0);
}
.caja1
{
    border:solid 2px transparent;
    display:flex;
    flex-direction: column;
    align-content: flex-start;
}
.contactoBar
{
    display:none; 
}
.navBar
{
    display:flex;
    height: 90px;
}
.hamburguer-button
{
    margin: auto;
}
.columnas
{
    flex-basis:80%;
    border:solid 2px transparent;
    display:flex;
    text-align: center;
    justify-content: space-between;
    margin:auto;
}
.hamburguer-button i
{
    color:black;
}
.navBar .columnas div .logosHeader
{
    display:none;
}
.logocentral
{
    width:150px;
}
.caja2
{
    background-color: black;
    border-bottom: solid 3px rgb(0, 17, 255);
    border-top: solid 3px rgb(0, 17, 255);
    animation: barraLuminosa 10s infinite;
}
@keyframes barraLuminosa
{
    0%{border-top: solid 3px rgb(79, 79, 202);
        border-bottom: solid 3px rgb(79, 79, 202);
    }
    25%{border-top: solid 3px rgb(0, 17, 255);
        border-bottom: solid 3px rgb(0, 17, 255);
    }
    50%{border-top: solid 3px rgb(0, 255, 21);
        border-bottom: solid 3px rgb(0, 255, 21);
    }
    75%{border-top: solid 3px rgb(255, 11, 3);
        border-bottom: solid 3px rgb(255, 11, 3);
    }
    100%{borde-top: solid 3px rgb(115, 8, 255);
        borde-bottom: solid 3px rgb(115, 8, 255);
    }
}
.hamburguer-button
{
    text-align: center;
}
.hamburguer-button a
{
    color: white;
}
.mainCaja2
{
    display: none;  
}
.mainCaja2 a
{
    text-decoration: none;
    color: white;
    font-size: medium;
    font-weight: small;
}
/* -----------------------------------FIN HEADER ----------------------------------- */
/*--------------------------------HEADER QUERIES--------------------------------*/
@media(min-width:481px)
{
    .mainCaja2
    {
        display: flex;
        justify-content: space-evenly;
        height: 40px;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }
    .mainCaja2 a
    {  
        font-size: 20px;
        margin: 0 8px;
    }
}
@media (min-width: 768px) 
{
    .menu
    {
        flex-direction: row;
    }
    .contactoBar
    {
        display:block;
    }
    .contactoBar .cajita1
    {
        display:flex;
        justify-content: space-around;
    }
    .navBar .columnas div .logosHeader
    {
        display:block;
    }
    .logosHeader
    {
        width: 70%;
    }

}
/*--------------------------------FIN HEADER QUERIES--------------------------------*/