*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main{
    background-color: rgb(233, 233, 233);
    padding: 0.5%;
}
.carrusel-productos{
    padding: 1%;
    margin: 1px;
    position: relative;
}
.button-carrusel{
    font-size: 26px;
    background-color: white;
    padding: 1px;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 17px;
    color: blue;
}
.button-carrusel--RH{
    position: absolute;
    top: 40%;
    Right: 2%;
}
.button-carrusel--LH{
    position: absolute;
    top: 40%;
    Left: 2%;
}




.ofertas{
    padding: 0.5%;
    margin-top: 10px;
}
.titulos-home{
    font-size: larger;
    font-weight: bold;
    color: rgb(105, 105, 105);
}

.contenedor-productos{
    display: flex;
    position: relative;
    border-top: solid 1px rgb(218, 218, 218);
    border-bottom: solid 1px rgb(179, 179, 179);
}
.producto{
    display: flex;
    flex-direction: column;
    padding: 3px;
    margin: 1%;
    background-color: #fff;
    justify-content: space-around;
    border: 1px solid rgb(151, 150, 150);
    border-radius: 6px;
}
.producto--oferta{
    flex-basis: 33.3%;
}
.producto--destacados{
    flex-basis: 22%;
}
.producto__descripcion{
    padding: 1%;
    color: rgba(0,0,0,0.7);
}
.producto__precio{
    color: rgb(151, 151, 151);
    opacity: 0.9;
}
.producto__button-producto{
    text-decoration: none;
}
.button-agregar{
    display: flex;
    align-items: center;
    align-self: center;
    text-decoration: none;
}
.button-agregar__contenedor-imagen{
    padding-right: 10px;
    color: rgb(0, 167, 22);
}
.button-agregar__body{
    color: rgb(33, 35, 61);
    font-size: 12px;
    font-weight: bold;
}


.contacto{
    padding: 0.5%;
    margin-top: 10px;
}
.contenedor-contacto{
    display: flex;
    border-top: solid 1px rgb(219, 218, 218);
    border-bottom: solid 1px rgb(179, 179, 179);
}
.forma-contacto{
    flex-basis: 33.3%;
    padding: 0.5%;
    position: relative;
}
.forma-contacto__imagen{
    border-radius: 6px;
    border: solid 1px rgb(156, 156, 156);
}
.forma-contacto__descripcion{
    position: absolute;
    bottom: 10%;
    left: 10%;
    padding: 2px;
    border-radius: 6px;
    color: white;
    font-weight: bolder;
    text-align: center;
    background-color: rgba(10,10,10,0.7);
    max-width: 13em;
    font-size: 0.62em;
}

.destacados{
    padding: 0.5%;
    margin-top: 10px;
}

.clasificacion{
    padding: 0.5%;
    margin-top: 10px;
}
.contenedor-clasificacion{
    display: flex;
    flex-wrap: wrap;
}
.columna-button{
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
}
.button-clasificacion{
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    padding: 10px;
    background-color: white;
    justify-content: center;
    align-items: center;
    margin: 1px;
    border-radius: 1px;
    text-decoration: none;
}
.button-clasificacion__contenedor-img{
    background-color: white;
    width: 38px;
    height: 38px;
}
.button-clasificacion__descripcion{
    flex-basis: 70%;
    color: rgba(10,10,10,0.7);
}


/*Tablet*/
@media (min-width: 480px){

}

/*desktop*/
@media (min-width: 768px){

}

