*
{
    padding: 0px;
    /* margin: 0;*/
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Lato' , italic;
}
/* ----------------------------------- MAIN ----------------------------------- */
body
{
    width: 90%;
    margin: auto;
    background-color: rgb(233, 233, 233);
}
.indexmain
{
    background-color: rgb(233, 233, 233);
}
.contenedor-main-carrusel
{
    padding: 1%;
    position: relative;
    margin-left: 2%;
    margin-right: 2%;
}
.carrusel-productos__imagen
{
    border: solid 2px rgb(0, 17, 255);
    animation: barraLuminosaImagen 10s infinite;
}
@keyframes barraLuminosaImagen
{
    0%{border: solid 2px rgb(79, 79, 202);}
    25%{border: solid 2px rgb(0, 17, 255);}
    50%{border: solid 2px rgb(0, 255, 21);}
    75%{border: solid 2px rgb(255, 11, 3);}
    100%{borde: solid 2px rgb(115, 8, 255);}
}
.button-carrusel
{
    font-size: 26px;
    background-color: white;
    padding: 1px;
    width: 35px;
    height: 35px;
    text-align: center;
    border-radius: 50%;
    color: blue;
    display: none;
    transition: all 450ms;
}
.button-carrusel:hover
{
    box-shadow: 1px 1px 1px 1px rgba(0, 36, 241, 0.5);
    border: solid 1px rgba(0, 36, 241, 0.7);
}
.button-carrusel--RH
{
    position: absolute;
    top: 40%;
    Right: 0%;
}
.button-carrusel--LH
{
    position: absolute;
    top: 40%;
    Left: 0%;
}
.contenedor-seccion
{
    margin-top: 10px;
    margin-left: 10%;
    margin-right: 10%;
}
.titulos-home
{
    font-size: larger;
    font-weight: bold;
    color: rgb(105, 105, 105);
}
.contenedor-productos
{
    display: flex;
    justify-content: space-around;
    position: relative;
    border-top: solid 1px rgb(218, 218, 218);
    border-bottom: solid 1px rgb(179, 179, 179);
}
.producto
{
    display: flex;
    flex-direction: column;
    padding: 3px;
    margin: 1%;
    background-color: #fff;
    justify-content: space-around;
    border: 1px solid rgb(151, 150, 150);
    border-radius: 6px;
    max-width: 210px;
}
.producto--oferta
{
    flex-basis: 33.3%;
}
.producto--destacados
{
    flex-basis: 22%;
}
.producto__descripcion
{
    padding: 1%;
    color: rgba(0,0,0,0.7);
}
.producto__precio
{
    color: rgb(151, 151, 151);
    opacity: 0.9;
}
.producto__button-producto
{
    text-decoration: none;
}
.button-agregar
{
    display: flex;
    align-items: center;
    align-self: center;
    text-decoration: none;
    border: 1px solid rgba(39, 33, 61, 0.3);
    background-color: rgba(4, 0, 255, 0.01);
    padding: 2px;
    border-radius: 8px;
    transition: 600ms;
}
.button-agregar:hover
{
    border: 1px solid rgba(39, 33, 61, 0.9);
    background-color: rgba(4, 0, 255, 0.1);
}

.button-agregar__contenedor-imagen
{
    padding-right: 10px;
    color: rgb(0, 167, 22);
}
.button-agregar__body
{
    color: rgb(33, 35, 61);
    font-size: 12px;
    font-weight: bold;
}
.contenedor-contacto
{
    display: flex;
    border-top: solid 1px rgb(219, 218, 218);
    border-bottom: solid 1px rgb(179, 179, 179);
}
.forma-contacto
{
    flex-basis: 33.3%;
    padding: 0.5%;
    position: relative;
}
.forma-contacto__imagen
{
    border-radius: 6px;
    border: solid 1px rgb(156, 156, 156);
}
.forma-contacto__descripcion
{
    position: absolute;
    display: none;
    bottom: 10%;
    left: 5%;
    right:5%;
    padding: 2px;
    border-radius: 6px;
    color: white;
    font-weight: bolder;
    text-align: center;
    background-color: rgba(10,10,10,0.7);
    font-size: 14px;
}
.clasificacion
{
    padding: 0.5%;
    margin-top: 10px;
}
.contenedor-clasificacion
{
    display: flex;
    flex-wrap: wrap;
}
.columna-button
{
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
}
.button-clasificacion
{
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    padding: 10px;
    background-color: white;
    justify-content: center;
    align-items: center;
    margin: 1.5px;
    border-radius: 1px;
    text-decoration: none;
    transition: all 450ms;
}
.button-clasificacion:hover
{
    position: relative;
    bottom: 3px;
    left: 3px;
    box-shadow: 0px 1px 1px 2px rgba(148, 148, 148,0.7);
}
.button-clasificacion__contenedor-img
{
    background-color: white;
    width: 38px;
    height: 38px;
}
.button-clasificacion__descripcion
{
    flex-basis: 70%;
    color: rgba(10,10,10,0.7);
}
/*--------------------------------MAIN QUERIES--------------------------------*/
/*Tablet*/
@media (min-width: 480px)
{
    .clasificacion
    {
        margin-left: 5%;
        margin-right: 5%;
        padding: 0;
    }
}
/*desktop*/
@media (min-width: 768px)
{
    .forma-contacto__descripcion
    {
        display:block;
    }
    .contenedor-clasificacion
    {
        justify-content: center;
    }
    .columna-button
    {
        flex-basis: 20%;
    }
    .button-carrusel
    {
        display: block;
    }
    .contenedor-seccion
    {
        margin-top: 33px;
        margin-left: 15%;
        margin-right: 15%;
    }
    .clasificacion
    {
        margin-left: 5%;
        margin-right: 5%;
        padding: 0;
    }
    .clasificacion .titulos-home
    {
        margin-left: 10%;
    }
    .button-agregar
    {
        padding: 3px 5px 3px 5px;
    }
    .button-agregar__body
    {
        font-size: 16px;
    }
}
/*--------------------------------FIN MAIN QUERIES--------------------------------*/