*
{
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Lato' , italic;
}
body
{
    margin: auto;
    background-color: rgb(233, 233, 233);
}
.lista
{
    display: flex;
}

.caja-clasificacion{
    text-decoration: none;
    color: rgb(85, 85, 85);
}
.lista .barra-de-clasificacion .titulo-clasificacion p
{
    font-weight: 900;
    font-size: 16px;
}
.lista .barra-de-clasificacion .caja-clasificacion
{
    margin:5px 0px;
}
.lista .barra-de-clasificacion .caja-clasificacion p
{
    transition:all 0s;
}
.lista .barra-de-clasificacion .caja-clasificacion p:hover
{
    font-weight: 900;
    color: black;
}
.lista .contenedor-seccion
{
    margin-top: 10px;
    margin-left: 2%;
}
.lista .contenedor-seccion .contenedor-productos
{
    display: flex;
    border-top: solid 1px rgb(218, 218, 218);
    border-bottom: solid 1px rgb(179, 179, 179);
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}
.separar
{
    display: flex;
    flex-direction: column;
    border: gray 1px solid;
    border-radius: 6%;
    background-color: #ffffff;
    margin-bottom: 15px;
    justify-content: space-around;
    width:200px;
    transition: 0.7s;
}

.separar:hover{
    box-shadow: 2px 2px 2px 2px rgb(70, 70, 70);
}

.comprarAgregar
{
    display: none;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 10px;
}
.producto__descripcion
{
    padding: 1%;
    color: rgba(0,0,0,0.7);
}
.producto__precio{
    color: rgb(0, 0, 0);
    font-weight: bolder;
    text-align: left;
}
.producto__precio
{
    color: rgb(32, 32, 32);
    opacity: 0.9;
    font-weight: bolder;
    text-align: left;
}
.producto__button-producto
{
    text-decoration: none;
}

.producto__contenedor-imagen img{
    padding: 20px;
}
.button-agregar
{
    display: flex;
    align-items: center;
    align-self: center;
    text-decoration: none;
    border: 1px solid rgba(39, 33, 61, 0.3);
    background-color: rgba(4, 0, 255, 0.01);
    padding: 2px;
    border-radius: 8px;
    transition: 600ms;
}
.button-agregar:hover
{
    border: 1px solid rgba(39, 33, 61, 0.9);
    background-color: rgba(4, 0, 255, 0.1);
}

.button-agregar__contenedor-imagen
{
    padding-right: 10px;
    color: rgb(0, 167, 22);
}
.button-agregar__body
{
    color: rgb(33, 35, 61);
    font-size: 12px;
    font-weight: bold;
}
.main-footer
{
    margin-top:40px;
}
@media (min-width:480px)
{
    .comprarAgregar
    {
    display: flex;
    }
    .lista .contenedor-seccion
    {
        margin-top: 10px;
        margin-left: 10%;
        margin-right: 10%;
    }
    .lista {
        display: flex;
        justify-content: space-around;
    }
}
/*---------------------------------FOOTER -------------------------------*/

