*
{
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Lato' , italic;
}
body
{
    margin: auto;
    background-color: rgb(233, 233, 233);
}
.lista
{
    display: flex;
}
.lista .barra-de-clasificacion .titulo-clasificacion p
{
    font-weight: 900;
    font-size: 16px;
}
.lista .barra-de-clasificacion .caja-clasificacion
{
    margin:5px 0px;
}
.lista .barra-de-clasificacion .caja-clasificacion p
{
    transition:all 1s;
}
.lista .barra-de-clasificacion .caja-clasificacion p:hover
{
    font-weight: 900;
}
.lista .contenedor-seccion
{
    margin-top: 10px;
    margin-left: 2%;
}
.lista .contenedor-seccion .contenedor-productos
{
    display: flex;
    flex-direction: column;
    border-top: solid 1px rgb(218, 218, 218);
    border-bottom: solid 1px rgb(179, 179, 179);
}
.separar
{
    display:flex;
}
.separar img
{
    width:200px;
}
.comprarAgregar
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.producto__descripcion
{
    padding: 1%;
    color: rgba(0,0,0,0.7);
}
.producto__precio
{
    color: rgb(151, 151, 151);
    opacity: 0.9;
}
.producto__button-producto
{
    text-decoration: none;
}
.button-agregar
{
    display: flex;
    align-items: center;
    align-self: center;
    text-decoration: none;
    border: 1px solid rgba(39, 33, 61, 0.3);
    background-color: rgba(4, 0, 255, 0.01);
    padding: 2px;
    border-radius: 8px;
    transition: 600ms;
}
.button-agregar:hover
{
    border: 1px solid rgba(39, 33, 61, 0.9);
    background-color: rgba(4, 0, 255, 0.1);
}

.button-agregar__contenedor-imagen
{
    padding-right: 10px;
    color: rgb(0, 167, 22);
}
.button-agregar__body
{
    color: rgb(33, 35, 61);
    font-size: 12px;
    font-weight: bold;
}
.main-footer
{
    margin-top:40px;
}
@media (min-width:480px)
{
    .lista .contenedor-seccion
    {
        margin-top: 10px;
        margin-left: 10%;
        margin-right: 10%;
    }
    .lista {
        display: flex;
        justify-content: space-around;
    }
}
/*---------------------------------FOOTER -------------------------------*/

