*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Lato' , italic;
}
body{
    background-color: rgb(233, 233, 233);

}
/* --------------------------------MAIN--------------------------------*/
.mainProductCart
{
    background-color: rgb(233, 233, 233);
}
.contenedor-titulo-carrito 
{
    padding: 1%;
    position: relative;
    margin-left: 2%;
    margin-right: 2%;
}
.header-carrito 
{
    position: relative;
    text-align: center;
    padding: 10;
    border: 2px darkblue;
}
.contenedor-listado-items 
{
    padding: 1%;
    position: relative;
    margin-left: 2%;
    margin-right: 2%;
}
.items-carrito
{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    padding: 4px;
}
.nombre-prod-carrito
{
    width: 200px;
    text-align: justify;
}
.imagen-en-carrito 
{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-around;
}
.boton-inc-dec
{
    display: block;
}
.tabla
{
    margin-left: 20px;
}
.nombre-prod-carrito, .boton-inc-dec 
{
    margin-left: 20px;
    margin-right: 20px;
}
/* Desde cero <p>$39,99</p>*/
.articulo
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.art-quitar
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.carrito-img
{
    display: flex;
}   
.carrito-desc
{
    display: flex;
}
.carrito-desc-span
{
    display: inline-block;
    width: 130px;
}
.carrito-precio-span
{
    display: inline-block;
    width: 130px;
    text-align: right;
}
.quita-agrega
{
    display: inline-block;
    width: 21px;
    text-align: center;
}
.carrito-precio
{
    display: inline-block;
    width: 90;
}
.boton-quitar
{
    display: flex;
}
@media(min-width:481px)
{
    body
    {
        font-size:25px;
    }
    .container
    {
        flex-direction: row;
    }
}
@media(min-width:769px)
{
    .mainMain_containerTop 
    {
        display: flex;
        flex-direction: row;
    }
}