*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: white;
}
/*                           GENERALES                  */
.link a{
    color:white;
    text-decoration: none;
}
/*                          FIN GENERALES                  */
/*                          HEADER                  */
.main-header{
    padding:0;
    background-color:#ebebeb
}
.caja1{
    border:solid 3px transparent;
    display:flex;
    flex-direction: row;
    color:white;
    background-color: black;
    
}
.logo{
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    border:solid 3px transparent;
}
.menu{
    border:solid 3px transparent;
    margin:auto;
    text-align:center;
}
.columna1{
    border:solid 3px transparent;
}
.top1{
    display: flex;
    justify-content: space-between;
}

.columna2{
    border:solid 3px transparent;
}
.top2{
    text-align:center;
}
.bottom2{
    text-align:center;
}
.caja-items #uno{
    color:rgb(92, 238, 8);
}
.caja-items #dos{
    color:rgb(22, 142, 197);
}
.caja-items #cuatro{
    color:rgb(22, 142, 197);
}
.columna3{
    display:flex;
    justify-content: center;
}
.columna3 .bottom3{
    display:flex;
    color:white;
    justify-content: space-between;
}

.right{
    border:solid 3px transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.left{
    border:solid 3px transparent;
}
.caja2{
    display:none;
    border:solid 3px rgb(79, 79, 202);   
}
.hamburguer-button{
    text-align: center;
}

@media(min-width:481px)
{
    .caja2
    {
        display:block;
        border:solid 3px rgb(79, 79, 202);
    }
    .mainCaja2
    {
        display:flex;
        justify-content: space-around;
    }
    .mainCaja2 a
    {
        text-decoration: none;
    }
    .hamburguer-button{
        display:none;
    }
}
/*                          FIN HEADER                  */
/* --------------------------------MAIN--------------------------------*/
main{
    background-color: rgb(233, 233, 233);
}

.contenedor-titulo-carrito {
    padding: 1%;
    position: relative;
    margin-left: 2%;
    margin-right: 2%;
}

.header-carrito {
    position: relative;
    text-align: center;
    padding: 10;
    border: 2px darkblue;
}

.contenedor-listado-items {
    padding: 1%;
    position: relative;
    margin-left: 2%;
    margin-right: 2%;
}

.items-carrito{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    padding: 4px;
}

.nombre-prod-carrito{
    width: 200px;
    text-align: justify;
}

.imagen-en-carrito {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-around;
}

.boton-inc-dec{
    display: block;
    
}

.tabla{
    margin-left: 20px;
}
.nombre-prod-carrito, .boton-inc-dec {
    margin-left: 20px;
    margin-right: 20px;
}
/* Desde cero <p>$39,99</p>*/

.articulo{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.art-quitar{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.carrito-img{
    
    display: flex;
}   
    
.carrito-desc{
    display: flex;
}
.carrito-desc-span{
    display: inline-block;
    width: 130px;
    
}
.carrito-precio-span{
    display: inline-block;
    width: 130px;
    text-align: right;
}

.quita-agrega{
    display: inline-block;
    width: 21px;
    text-align: center;
}
.carrito-precio{
    display: inline-block;
    width: 90;
}
.boton-quitar{
    display: flex;
}
/*--------------------------------FOOTER--------------------------------*/
.container{
    display:flex;
    flex-direction: column;
    margin:auto;
    border:solid 3px black;
    background-color:white;
    text-align: center;
    padding: 10px;
}
.linea{
    margin-bottom:10px;
}
.colum1{
    margin:auto;
    margin-bottom:2px;
}

.colum2{
    margin:auto;
}
.colum3{
    margin:auto;
}
.icono1 i{
    color:green;
}
.icono2 i{
    color:green;
}
.icono3 i{
    color:blue;
}
.icono4 i{
    color:red;
}
@media(min-width:481px)
{
    body{
        font-size:25px;
    }
    .container
    {
        flex-direction: row;
    }
}
@media(min-width:769px)
{
    .mainMain_containerTop {
        display: flex;
        flex-direction: row;
    }
}