*
{
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Lato' , italic;
}
.info{
    text-align:center;
}
.info h2 p{
    color:rgb(11, 64, 145);
}
.info h3 p{
    color:rgb(11, 64, 145);
}
.buttons{
    text-align:center;
}
.buttons a button {
    transition:all 1s;
}
.buttons a button:hover{
    background-color: rgb(11,64,145);
    color:white;
}

.buttons form button {
    transition:all 1s;
}
.buttons form button:hover {
    background-color: rgb(11,64,145);
    color:white;
}
button{
    width: 20%;
    border: solid 1px;
    border-radius: 10px;
    padding: 15px;  
}