*
{
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Lato' , italic;
}
div h1{
    text-align:center;
    color:rgb(11, 64, 145);
}
.contenedor-usuarios
{
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.contenedor-usuarios span h2 p
{
    text-decoration: none;
    text-align: center;
    color:rgb(11, 64, 145);
}
@media (min-width: 481px) 
{
    .contenedor-usuarios span{
        flex-basis:50%;
    }
}
@media (min-width: 768px) 
{
    .contenedor-usuarios span{
        flex-basis:  33.3%;
    }
}
