*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Lato' , italic;
}
body
{
    margin: auto;
    background-color: rgb(233, 233, 233);
}
.link a
{
    color:white;
    text-decoration: none;
}
/* --------------------------------MAIN--------------------------------*/
.esconder
{
    display:none;
}
.stock{
    color:black;
    font-size: larger;
    font-weight: bolder;
    display: flex;
    border: 1px solid rgb(105, 105, 105);
    padding: 2px;
    border-radius: 3px;
    justify-content: center;
}
.mainMain_containerTop   /* 1 */
{
    display:flex;
    flex-direction: row;
    justify-content: center;
}
.mainMain_containerTop_left{
    background-color: white;
}
.mainMain_containerTop_left_bottom
{
    display: flex;
    position: relative;
    border-top: solid 1px rgb(218, 218, 218);
    justify-content: center;
    flex-direction: row;
}
.mainMain_containerTop_left_bottom_cajita
{
    flex-basis: 22%;
    max-width: 200px;
}
.imagen,.imagen img{
    width:100%;
}
.mainMain_container_right
{
    border:solid 3px transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: white;
    border-left: solid 1px #d2d1d1;
}
.mainMain_container_right_top
{
    border:solid 2px transparent;
    margin:12px 12px;
    text-align: left;
}
.mainMain_container_right_top h1
{
    display:none;
}
.formasDePago
{
    width:45%;
}
.mainMain_container_right_bot
{
    border:solid 2px transparent;
}
.botones
{
    color:black;
    display: flex;
    text-decoration: none;
    border: 1px solid rgb(105, 105, 105);
    padding: 2px;
    border-radius: 8px;
    transition: 600ms;
    justify-content: center;
}
.botones:hover
{
    background-color: rgb(11, 64, 145);
    color:white
}
.botones p  i
{
    text-align:center;
}
.mainMain_container_right_bot
{
    display:flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.mainMain_containerBottom        /* 1 */
{
    border-top: solid 1px #d2d1d1;
    padding: 12px 20px;
}
.mainMain_containerBottom
    {
        display:flex;
        flex-direction: column;
        background-color: white;
        margin: 0 10%;
    }
.mainMain_containerTop_left_top img
{
    max-width: 550px;
}
@media(min-width:481px)
{
    .esconder
    {
        display:block;
    }
    
}
@media(min-width:872px)
{
    .mainMain_container_right_bot
    {
        flex-direction: row;
    }
}