<!DOCTYPE html>
<html lang="en">
<head>
    <title>productCreate</title>
    <link rel="stylesheet" href="/CSS/productCreate.css">
    <%- include('../partials/head') %>
</head>
<body>

    <header>
    <%- include ('../partials/header') %>
    </header>

    <main>
        <h3>Agregar producto nuevo</h3>
        <form class="formulario" action="/products/productCreate" method="POST">                    
                    <div class="input-container">
                         <input placeholder="Nombre del producto" name="name" id="name">
                    </div>  

                    <div class="input-container">
                         <label for="descripcion">Descripción del producto:</label>
                         <textarea name="description" id="descripcion" ></textarea>
                    </div>
                    
                    <div class="input-container">
                         <label for="category">Categoria del producto</label> 
                         <select class="category" id="category" name="category">
                            <option value="" selected="selected">- selecciona -</option>
                            <option value="Discos Mecanicos">Discos mecanicos</option>
                            <option value="Procesadores">Procesadores</option>
                            <option value="Motherboards">Motherboards</option>
                            <option value="Monitors">Monitors</option>
                            <option value="SSD">SSD</option>
                            <option value="placa De Video">Placa de video</option>
                            <option value="MemoriasRam">Memorias ram</option>
                            <option value="Perifericos">Perifericos</option>
                        </select>
                    </div>

                    <fieldset class="input-container">
                        <legend>Datos económicos</legend>
                      
                        <label for="precio">Precio</label>
                        <input type="text" size="5" id="precio" name="price" required pattern="[0-9]+" />
                      
                        <label for="cuotas">Cuotas</label>
                        <select id="cuotas" name="cuotas">
                            <option value="0">0</option>
                            <option value="3">3</option>
                            <option value="6">6</option>
                            <option value="9">9</option>
                            <option value="12">12</option>
                        </select>                       
                    </fieldset>
                    <!---
                    <div class="input-container">
                         <label for="photo">Ingrese imagen del producto</label>
                         <input multiple type="file" name="image" id="image" required accept="pdf,doc,jpg" />
                    </div>
                    -->  
                    <div class="input-container">
                         <button type="submit">ENVIAR</button>
                         <button type="reset">BORRAR</button>
                    </div>
        </form>    
    </main>

    <footer class="main-footer">
        <%- include("../partials/footer") %>
    </footer>
    
</body>
</html>