<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head') %>

<body>
    
    <%- include('../partials/header') %>
   <main >
       
        <section class="formulario">
            
            <form action="/user/<%= userToEdit.id %>?_method=PUT" method="POST">

                <div class="input-container">
                    <label for="name">Ingrese su nombre</label>
                    <input type="text" name="name" id="name" required/>
                </div>

                <div class="input-container">
                    <label for="lastName">Ingrese apellido</label>
                    <input type="text" name="lastName" id="lastName" required/>
                </div>

                <div class="input-container">
                    <label for="email">Ingrese email</label>
                    <input type="text" name="email" id="email" required/>
                </div>
                
                <div class="input-container">
                    <label for="password">Contraseña</label>
                    <input type="text" name="password" id="password" required/>
                </div>

                <div class="input-container">
                    <label for="cell">Ingrese número de celular</label>
                    <input type="text" name="cell" id="cell" required/>
                </div>

                <div class="input-container">
                    <button type="submit">ENVIAR</button>
                </div>

            </form>
        </section>


   </main>

</body>
</html> 