<!DOCTYPE html>
<html lang="en">
<head>
    <title>login</title>
    <link rel="stylesheet" href="/CSS/login.css">
    <%- include('../partials/head') %>
</head>
<body>
    <header>
        <%- include ('../partials/header') %>
    </header>
    <main>
        <div>
            <h1>Ingresar</h1>
            <form class="formulario" action="" method="POST">
            <span class= 'msg-error'><%= locals.errors && errors.password ? errors.password.msg : '' %> </span>              
              <div class=input-container>
                <label for="username"></label>
                <input placeholder="Nombre mail" name="email">
              </div>
              <div class="input-container">
                <label for="password"></label>
                <input placeholder="Contrase単a" name="password">
              </div>
              <div class="input-container">
                <input class="boton" type="submit" value="Ingresar">
                <div class="input-container checkbox"> 
                  <input type="checkbox" name="remember" value="yes" id="remember" >
                  <p>Recordar usuario?</p>
                </div>
                <div class="recuperar">
                    <a href="#">多Olvido su contrase単a?</a>
                    <a href="#">多Nuevo usuario?</a>
                </div>
              </div>
            </form>

        </div>
    </main>
    <footer class="main-footer">
        <%- include("../partials/footer") %>
    </footer>
</body>
</html>