<!DOCTYPE html>
<html lang="es">
    <title>perfil</title>
    <%- include('../partials/head') %>
<body>
    
    <header><%- include('../partials/header') %></header>

    <main class="profile">
            BIENVENIDO! <u>[NOMBRE]</u><br/>
            [IMAGEN]
        </section>
    </main>

    <footer class="main-footer">
        <%- include("../partials/footer") %>
    </footer>


</body>
</html> 