<!DOCTYPE html>
<html lang="en">
<head>
    <title>Registro</title>
    <link rel="stylesheet" href="/CSS/register.css">
    <%- include('../partials/head') %>
</head>
<body>
    <header>
        <%- include ('../partials/header') %>
    </header>
    <main >
        <div>
            <h1>Registrarse</h1>
            <form class="formulario" action="" method="POST">
                 <div class="input-container">
                    <label for="username"></label>
                    <input placeholder="Usuario" name="username" required>
                </div>
                <div class="input-container">
                    <label for="email"></label>
                    <input placeholder="Email" name="email" required>
                </div>
                <div class="input-container">
                    <label for="contrase単a"></label>
                    <input placeholder="Contrase単a" name="contrase単a" required>
                </div>
                <div class="input-container">
                    <label for="repetir"></label>
                    <input placeholder="Repetir contrase単a" name="repetir" required>
                </div>
                <div class="input-container">
                    <input class="boton" type="summit" value="Registrarse">
                </div>
              
            </form>
        </div>
    </main>
    <footer class="main-footer">
        <%- include("../partials/footer") %>
    </footer>
</body>
</html>