<!DOCTYPE html>
<html lang="en">
<head>
    <title>Registro</title>
    <link rel="stylesheet" href="/CSS/register.css">
    <%- include('../partials/head') %>
</head>
<body>
    <header>
        <%- include ('../partials/header') %>
    </header>
    <main class="main_main">
        <div class="main_main_register">
            <h1>Registrarse</h1>
            <form action="" method="GET">
              <label for="username">Nombre de usuario</label>
              <input type="text" name="username" required>

              <label for="email">Email</label>
              <input type="text" name="email" required>

              <label for="contrase単a">Contrase単a</label>
              <input type="password" name="contrase単a" required>

              <label for="repetir">Repetir contrase単a</label>
              <input type="password" name="repetir" required>

              <input type="submit" value="Registrarse">
            </form>
        </div>
    </main>
    <footer class="main-footer">
        <%- include("../partials/footer") %>
    </footer>
</body>
</html>